.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-cubic),
    color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.social-list-link .social-list-ikon {
  fill: #afb1b8;
}

.social-list-ikon {
  width: 20px;
  height: 20px;
  transition: fill 250ms var(--transition-cubic);

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--white-color);
  }
}
